@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  min-width: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
i {
  @apply shrink-0;
}

@layer components {
  #gradient-canvas {
    width: 100%;
    height: 100%;
  }
}

.stagger {
  @for $i from 0 through 999 {
    & > :nth-child(#{$i + 1}) {
      transition-delay: 50ms * $i;
      animation-delay: 50ms * $i;
    }
  }
}

.skeleton {
  @apply relative -z-10 overflow-hidden before:absolute before:inset-0 before:-z-10 before:animate-slide-right before:bg-gradient-to-r;
}

$scrollbar-style: none;

.hide-scrollbar {
  -ms-overflow-style: $scrollbar-style; // IE and Edge
  scrollbar-width: $scrollbar-style; // Firefox

  &::-webkit-scrollbar {
    display: $scrollbar-style; // Chrome, Safari, Opera
  }
}

#preview {
  font-family: var(--font-quicksand) !important;
  padding: 0px !important;
  justify-content: start !important;
  margin: 0px !important;
  font-weight: 500 !important;
  max-width: none !important;
}

#preview > #setText > div {
  line-height: 1.75rem;
}

.math-inline {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

// #option-content > #preview > #setText > div > span {
//   display: flex;
//   flex-wrap: wrap;
// }

#option-content > #preview > #setText {
  text-align: start;
}

#pembahasan > #preview > #setText {
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
  color: #6b7280 !important;
  font-weight: 600;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#mdown > div > div > #setText {
  font-size: 1.2rem !important;
  line-height: 2rem !important;
}

svg {
  max-width: 100%;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

/* Customize the unchecked state */
input[type="radio"]:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.2s;
}

/* Customize the checked state with color #10B981 */
input[type="radio"]:checked {
  border-color: #10b981;
}

input[type="radio"]:checked:before {
  background-color: #10b981;
}

/* Change color on hover */
input[type="radio"]:hover {
  border-color: #059669;
}
